<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'ai-model.TRANSCRIPTION_SETTINGS' | transloco }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-select
        label="{{ 'ai-model.SELECT_MODEL' | transloco }}"
        [(ngModel)]="selectedModel"
        (ionChange)="onModelChange()"
        interface="popover"
      >
        @for (m of models; track m.name) {
          <ion-select-option [value]="m.name">{{ m.name }} ({{ m.size }} MB)</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-toggle
        [(ngModel)]="selectedIsMultilingual"
        (ionChange)="toggleIsMultilingual()"
        >{{ 'ai-model.MULTILINGUAL' | transloco }}</ion-toggle
      >
    </ion-item>

    @if (selectedIsMultilingual) {
      <ion-item>
        <ion-select
          label="{{ 'ai-model.SELECT_LANGUAGE' | transloco }}"
          [(ngModel)]="selectedLanguage"
          (ionChange)="onLanguageChange()"
          interface="popover"
        >
          @for (l of languages | keyvalue; track l.value) {
            <ion-select-option [value]="l.value">{{ l.value | titlecase }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">{{ 'ai-model.BUTTON_CANCEL' | transloco }}</ion-button>
      <ion-button (click)="applySettings()">{{ 'ai-model.BUTTON_SAVE' | transloco }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
