<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="cancel()">Close</ion-button>
    </ion-buttons>
    <ion-title>Battery {{ battery?.anag?.label }} – Cycles logs</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p class="ion-padding" i18n>Cycles are based on charges.</p>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="6" size-sm="12" size-xs="12">
            <p>
              {{ battery?.brand?.label }}
              {{ battery?.anag?.model }}
              {{ battery?.type?.label }}<br />

              {{ battery?.anag?.cellsNumber + "S" }}
              {{ battery?.anag?.mA + "mA" }}

              <br /><br />
              {{ "Total cycles: " + battery?.totalCycles }}
              <br />
              {{ "Age: " + getAge(battery?.anag?.date!, true) }}
            </p>
          </ion-col>
          <ion-col size="6" size-md="6" size-sm="12" size-xs="12">

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content style="position: relative; height:30vh; width:90vw; margin: auto">
      <canvas id="batteryStatusChart"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      @for (row of cycles; track row.id) {
        <ion-grid>
          <ion-item>
            <div slot="start">{{ row.date | date: "yyyy-MM-dd" }}</div>
            @if (row?.status !== batteryStatusActionEnum.Store) {
              <ion-icon
                size="medium"
                [color]="row.alertStatus"
                aria-hidden="true"
                name="warning"
              >
              </ion-icon>
            } @else {
              <ion-icon
                size="medium"
                [color]="row.alertStatus"
                aria-hidden="true"
                name="battery-full"
              >
              </ion-icon>
            }

            {{ getBatteryStatus(row.status) }}d
            <div slot="end">
              <ion-button
                shape="round"
                size="small"
                (click)="deleteRow(row)"
                color="danger"
              >
                <ion-icon slot="icon-only" name="remove"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </ion-grid>
      }
    </ion-card-content>
  </ion-card>
</ion-content>
