<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="cancel()">Close</ion-button>
    </ion-buttons>
    <ion-title>Battery {{ anag?.label }} cycles logs</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>

  @for (row of cycles; track row.id) {

      <ion-grid>
        <ion-row>
          <ion-col class="title">Date</ion-col>
          <ion-col class="ion-text-right">
            {{ row.date | date: "yyyy-MM-dd" }}
          </ion-col>
          <ion-col>{{ getBatteryStatus(row.status) }}</ion-col>

          
            <ion-col>
              <ion-item>



                <ion-toggle name="seriesEnabled" [(ngModel)]="row.enabled"
                  (ionChange)="updateRow(row)">Enabled</ion-toggle>

              </ion-item>
            </ion-col>
            
            <ion-col >

              <ion-item>
                <ion-label>Delete</ion-label>
                <ion-button shape="round" size="small" (click)="deleteRow(row)" color="danger">
                  <ion-icon slot="icon-only" name="remove"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-col>

        </ion-row>
      </ion-grid>
    
  }


</ion-card-content>
</ion-card>

</ion-content>