<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="cancel()">Close</ion-button>
    </ion-buttons>
    <ion-title>Battery {{ battery?.anag?.label }} resistance logs</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- @for (row of logs; track row.id) {
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                Date
                {{ row.date | date: "MMMM dd" }}
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-toggle
                  name="seriesEnabled"
                  [(ngModel)]="row.enabled"
                  (ionChange)="updateRow(row)"
                  >Enabled</ion-toggle
                >
              </ion-item>
            </ion-col>
          </ion-row>
          @for (cell of row?.values; track $index) {
            <ion-row>
              <ion-col>
                <ion-item
                  ><div slot="start">cell {{ $index + 1 }}</div>
                  <div slot="end" class="ion-text-center">{{ cell }}mΩ</div>
                </ion-item>
              </ion-col>
            </ion-row>
          }
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Delete</ion-label>
                <ion-button
                  shape="round"
                  size="small"
                  (click)="deleteRow(row)"
                  color="danger"
                >
                  <ion-icon slot="icon-only" name="remove"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  } -->


  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="6" size-sm="12" size-xs="12">
            <p>
              {{ battery?.brand?.label }}
              {{ battery?.anag?.model }}
              {{ battery?.type?.label }}<br />

              {{ battery?.anag?.cellsNumber + "S" }}
              {{ battery?.anag?.mA + "mA" }}

              <br /><br />
              {{ "Total cycles: " + battery?.totalCycles }}
              <br />
              {{ "Age: " + getAge(battery?.anag?.date!, true) }}
              <br />
              {{ "last Ω read: " + getAge(lastRead!, true) }}
            </p>
          </ion-col>
          <ion-col size="6" size-md="6" size-sm="12" size-xs="12">
            <ion-radio-group value="showCells">
              <ion-radio checked id="showCells" value="showCells"
                >Show Cells</ion-radio
              ><br />
              <ion-radio id="showMedia" value="showMedia">Show Media</ion-radio
              ><br />
            </ion-radio-group>

            <div class="exceededValues ion-alert" [hidden]="exceededValues === ''"><br />
              {{ exceededValues }}<br />
              {{ exceededValuesSpec }}
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <canvas id="myChart" width="400" height="200"></canvas>

  <ion-card>
    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col size-md="4" size-sm="12">
            <ion-grid>
              <!-- Header Row: Dates -->
              <ion-row>
                <ion-col size="1" size-sm="4" size-md="4" size-xs="4"><strong>Cell Name</strong></ion-col>
                <ion-col class="ion-text-center" size="1" size-sm="4" size-md="4" size-xs="4" *ngFor="let log of refLogs; let i = index">
                  <strong>{{ i === 0 ? 'First Read' : 'Last Read' }}<br />{{ log.date | date: 'dd MMM' }}</strong>
                </ion-col>
              </ion-row>

              <!-- Rows for Each Cell -->
              <ion-row *ngFor="let cellIndex of [0, 1, 2, 3, 4, 5]">
                <!-- Cell Name Column -->
                <ion-col size="1" size-sm="4" size-md="4" size-xs="4"><strong>Cell {{ cellIndex + 1 }}</strong></ion-col>

                <!-- Values for Each Date -->
                <ion-col class="ion-text-center" size="1" size-sm="4" size-md="4" size-xs="4" *ngFor="let log of refLogs">
                  {{ (log.values[cellIndex] | number:'1.1-1') + ' mΩ' || 'No Data' }}
                </ion-col>
              </ion-row>

              <!-- Media Row -->
              <ion-row>
                <ion-col size="1" size-sm="4" size-md="4" size-xs="4"><strong>Average</strong></ion-col>
                <ion-col class="ion-text-center" size="1" size-sm="4" size-md="4" size-xs="4" *ngFor="let log of refLogs">
                  {{
                    getAverage(log.values)
                  }} mΩ
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>

          <ion-col size-md="8" size-sm="12">
            <ion-card>
              <ion-card-title>
                New Measurement
              </ion-card-title>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="2" size-md="2" size-sm="12" size-xs="12" class="title">Date</ion-col>
                    <ion-col size="12" size-md="12" size-sm="12" size-xs="12">
                      <ion-item>
                        <div *ngIf="isDatetimeReady">
                          <ion-datetime-button
                          id="datetimeLogNewRowButton"
                            color="secondary"
                            [datetime]="'datetimeLogNewRow'"
                          ></ion-datetime-button>

                          <ion-modal keepContentsMounted="true">
                            <ng-template>
                              <ion-datetime
                                #datetimeLogNewRow
                                (ionChange)="datetimeLogNewRow.cancel(true)"
                                presentation="date"
                                [formatOptions]="dateTimeFormatOptions"
                                id="datetimeLogNewRow"
                                name="datetimeLogNewRow"
                              >
                              </ion-datetime>
                            </ng-template>
                          </ion-modal>
                        </div>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                  @for (
                    cell of getArray(battery?.anag?.cellsNumber!);
                    track $index;
                    let i = $index
                  ) {

                      <ion-col size="2" size-md="2" size-sm="12" size-xs="12" class="title">Cell {{ $index + 1 }}</ion-col>
                      <ion-col size="2" size-md="2" size-sm="12" size-xs="12" class="ion-text-center">
                        <ion-item>
                          <ion-input
                            type="number"
                            name="anagModel"
                            [value]="newRowForm.values[$index]"
                            (ionChange)="updateRowValues($event, $index)"
                          >
                            <div slot="end">mΩ</div>
                          </ion-input>
                        </ion-item>
                      </ion-col>

                  }
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-button
                        [disabled]="isAddNewDisabled"
                        shape="round"
                        size="small"
                        (click)="addLog()"
                      >
                        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>


        </ion-grid>
        </ion-card-content>
  </ion-card>


</ion-content>
