
  <h5>{{ 'ai-model.RECORD_AUDIO' | transloco }}</h5>
  <div class="ion-padding-top">
    @if (!isRecording) {
      <ion-button expand="block" (click)="startRecording()">
        {{ 'ai-model.START_RECORDING' | transloco }}
      </ion-button>
    } @else {
      <ion-button expand="block" color="danger" (click)="stopRecording()">
        {{ 'ai-model.STOP_RECORDING' | transloco }}
      </ion-button>
    }
  </div>
  @if (isRecording) {
    <div #soundClips class="pt-2"></div>
    <canvas #visualizer></canvas>
  }
