services:
  angular-dev:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '4200:4200'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run start -- --host 0.0.0.0 --port 4200 --poll=500 --hmr
    networks:
      - angular-network

networks:
  angular-network:
    driver: bridge
