transcribercomponent
@if (audioBlob()) {
  <ion-card>
    <ion-card-content>
      @if (transcriberService.isBusy) {
        <div class="d-flex align-items-center">
          <div class="spinner-border spinner-border-sm text-primary mx-2"></div>
          <span>{{ 'ai-model.TRANSCRIPTION_PROGRESS_INFO' | transloco }}</span>
        </div>
      }
      @if (audioProgress) {
        {{ 'ai-model.RECORDING_TO_AUDIO_PROGRESS_INFO' | transloco }}
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            [attr.aria-valuenow]="audioProgress"
            [style.width.%]="audioProgress"
          ></div>
        </div>
      }

      @if (transcriberService.transcript) {
        <div class="d-flex flex-column">
          <span class="fs-4 ps-2">{{ 'ai-model.TRANSCRIPTION_RESULT_TITLE' | transloco }}</span>
          <div class="border border-1 rounded border-secondary m-2 p-2">
            <span class="fs-5">{{ 'ai-model.MODEL' | transloco }}</span
            >:
            {{ transcriberService.transcript.model || 'no' }}
          </div>

          <div class="border border-1 rounded border-secondary m-2 p-2">
            <span class="fs-4 ps-2">{{ 'settings.language' | transloco }}</span
            >:
            {{ transcriberService.transcript.language || 'no' }}
          </div>
          <div class="border border-1 rounded border-secondary m-2 p-2">
            <span class="fs-5">{{ 'ai-model.FULL_TEXT_TITLE' | transloco }}</span>
            <div>{{ transcriberService.transcript.text }}</div>
          </div>
          <div class="border border-1 rounded border-secondary m-2 p-2">
            <span class="fs-5">{{ 'ai-model.CHUNKS_TITLE' | transloco }}</span>
            <div>
              @for (chunk of transcriberService.transcript.chunks; track chunk.timestamp[0]) {
                <div class="row">
                  <div class="col-3">
                    <strong>{{ 'ai-model.TIMESTAMP_TITLE' | transloco }}</strong>
                    {{ formatAudioTimestamp(chunk.timestamp[0]) }}
                  </div>
                  <div class="col-9">
                    <strong>{{ 'ai-model.TEXT_TITLE' | transloco }}</strong> {{ chunk.text }}
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      }
      @if (transcriberService.error) {
        <div>
          <span class="fs-5">{{ 'ai-model.ERROR_TITLE' | transloco }}</span>
          {{ transcriberService.error }}
        </div>
      }
    </ion-card-content>
  </ion-card>
}
