.detect-button {
  margin: 16px 0;

  &[disabled] {
    opacity: 0.6;
  }
}

.detection-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 16px 0;
}
