ion-icon {
  vertical-align: middle;
}
ion-title {
  text-transform: capitalize;
  font-size: 1.8rem;
}

ion-card-title {
  ion-button {
    float: right;
  }
  span {
    white-space: nowrap;
    font-size: 1rem;
    display: block;
  }
}
.align-right {
  text-align: right;
}

ion-col.title {
  font-weight: bold;
}
ion-col.text-center {
  text-align: center;
}

.expandable-content {
  overflow: hidden;
}

.mat-mdc-card-header,
.mat-mdc-card-actions {
  justify-content: space-between;
}

.mat-mdc-card.disabled {
  background-color: #b1b1b1; /* Light grey background */
  pointer-events: none;     /* Prevent interactions */
  opacity: 0.6;             /* Slight transparency for disabled effect */
}
