<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button
          ><ion-icon slot="icon-only" name="menu"></ion-icon
        ></ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      <ion-icon name="battery-charging-outline" size="large"> </ion-icon>
      {{ page }}</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="settings"
        ><ion-icon name="cog"></ion-icon
      ></ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="create"
        ><ion-icon name="add-circle"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>

    @for (battery of items; track battery) {
      <ion-col size-lg="3" size-md="4" size-xs="6">
        <ion-card>
          <ion-card-header>
                <h1>
                @if(battery.alertStatus !== '' && battery?.lastStatus?.status !== batteryStatusActionEnum.Store ) {
                  <ion-icon size="medium"
                    [color]=" battery.alertStatus "
                    aria-hidden="true" name="warning">
                  </ion-icon>
                } @else {
                  <ion-icon size="medium"
                    [color]=" battery.alertStatus "
                    aria-hidden="true" name="battery-full">
                  </ion-icon>
                }

                  {{ 'Battery ' + battery?.anag?.label }}

                  @if(battery?.series?.label && battery?.series?.label !== '') {
                    <span [style]="'color: ' +battery?.series?.color">
                      – {{battery?.series?.label + 'Series'}}
                    </span>
                  }

                  <ion-button shape="round" (click)="presentActionSheet(battery)">
                    <ion-icon slot="icon-only" name="toggle-outline"></ion-icon>
                  </ion-button>

                </h1>

                {{ battery?.brand?.label }} {{ battery?.anag?.model }} {{ battery?.anag?.cellsNumber + 'S' }} {{ battery?.anag?.mA + 'mA' }}



            </ion-card-header>
            <ion-card-content>
              <p>{{ getBatteryStatus(battery?.lastStatus?.status) + 'd' }} {{ battery.timeRange + ' days ago' }}</p>
              <p>{{ 'Total cycles: ' + battery.totalCycles }}</p>

              <p class="align-right">
                <ion-button color="light" shape="round" (click)="showLogs(battery?.anag?.id!)">
                  <ion-icon slot="icon-only" name="list-outline"></ion-icon>
                </ion-button>
              </p>
            </ion-card-content>
        </ion-card>
      </ion-col>
    }
    </ion-row>
  </ion-grid>

</ion-content>
