ion-icon {
  vertical-align: middle;
}
ion-title {
  text-transform: capitalize;
  font-size: 1.8rem;
}

ion-card-title {
  ion-button {
    float: right;
  }
  span {
    white-space: nowrap;
    font-size: 1rem;
    display: block;
  }
}
.align-right {
  text-align: right;
}

ion-col.title {
  font-weight: bold;
}
ion-col.text-center {
  text-align: center;
}

.expandable-content {
  overflow: hidden;
}

.mat-mdc-card-header,
.mat-mdc-card-actions {
  justify-content: space-between;
}

.mat-mdc-card.disabled {
  background-color: #b1b1b1; /* Light grey background */
  pointer-events: none;     /* Prevent interactions */
  opacity: 0.6;             /* Slight transparency for disabled effect */
}

body {

  display: flex;
  align-items: center;
  justify-content: center;
}

.battery-head {
  width: 40px;
  height: 15px;
  background: #ffffff;
  margin: 0 auto;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.battery-body {
  width: 100%;
  height: 120px;
  background: transparent;
  position: relative;
  margin: 0 auto;
  border: 4px solid #ffffff;
  border-radius: 18px;
}

ion-icon[name="flash-outline"] {
  color: #ffffff;
  font-size: 40px;
  position: absolute;

  top: 40%;
  z-index: 1;

}


.charge {
  width: 100%;
  position: absolute;
  bottom: 0;
  animation: battery-charge 8s linear infinite;
  z-index: 0;
  border-radius: 0 0 12px 12px;
}

/* Battery bolt icon animation */
@keyframes battery-bolt {
  50% {
      transform: scale(1.3);
  }

  100% {
      transform: scale(1);
  }
}


.charge-25 {
  animation: battery-charge-25 1s linear forwards;
}

.charge-50 {
  animation: battery-charge-50 1s linear forwards;
}

.charge-100 {
  animation: battery-charge-100 1s linear forwards;
}

@keyframes battery-charge-25 {
  0% { height: 0%; background: #ff0000; }
  100% { height: 25%; background: #ff9100; }
}

@keyframes battery-charge-50 {
  0% { height: 0%; background: #ff0000; }
  100% { height: 50%; background: #00ff00; }
}

@keyframes battery-charge-100 {
  0% { height: 0%; background: #ff0000; }
  100% { height: 100%; background: #ff9100; }
}

/* Battery charge animation */
@keyframes battery-charge {
  0% { height: 0%; background: #ff0000;};

  25% { height: 25%; background: #ff9100;};

  50% { height: 50%; background: #fff200;};

  75% { height: 75%; background: #d7fc03;};

  100% { height: 100%; background: #00ff00;};
}

.battery-body {
  display: flex;
    justify-content: center;
}

.label {
  position: absolute;
  top: 10%;
  color: #fff;
  font-weight: bold;

}
