<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button
          ><ion-icon slot="icon-only" name="menu"></ion-icon
        ></ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="settings"
        ><ion-icon name="cog"></ion-icon
      ></ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="create"
        ><ion-icon name="add-circle"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    @for (battery of items; track battery) {

        <ion-item (click)="presentActionSheet(battery)">
          <ion-label>
            <!--<ion-item lines="none" (click)="showDetail(item)">-->
            <ion-item lines="none">
              @if(battery.alertStatus !== '' && battery?.lastStatus?.status !== batteryStatusActionEnum.Store ) {
                <ion-icon
                  [color]=" battery.alertStatus "
                  aria-hidden="true" name="warning">
                </ion-icon>
              } @else {
                <ion-icon
                  [color]=" battery.alertStatus "
                  aria-hidden="true" name="battery-full">
                </ion-icon>
              }
              <div [innerHtml]= "battery?.anag?.id"></div>
              <div [innerHtml]="'Battery ' + battery?.anag?.label"></div>
              @if(battery?.series?.label && battery?.series?.label !== '') {
                <div [innerHtml]="'Series' + battery?.series?.label"></div>
              }
              <div [innerHtml]="getBatteryStatus(battery?.lastStatus?.status) + 'd' "></div>




              <div [innerHtml]="battery.timeRange + ' days ago'"></div>

              <div [innerHtml]="'Total cycles: ' + battery.totalCycles"></div>



            </ion-item>
          </ion-label>
        </ion-item>

    }
  </ion-list>

</ion-content>
