<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button
          ><ion-icon slot="icon-only" name="menu"></ion-icon
        ></ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      <ion-icon name="battery-charging-outline" size="large"> </ion-icon>
      {{ page }}</ion-title
    >

    <ion-buttons slot="end">
      <ion-button routerLink="settings"
        ><ion-icon name="cog"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-toggle
        name="showDismissedBatteries"
        [(ngModel)]="showDismissedBatteries"
        (ionChange)="toggleShowDismissedBatteries()"
        >Show Dismissed</ion-toggle
      >
      @for (battery of items; track battery.anag.id) {
        <mat-card [class]="'card ' + (battery?.anag?.enabled === 0 ? ' disabled ' : ' ') ">
          <mat-card-header>
            <mat-card-title>{{
              "Battery " + battery?.anag?.label
            }}</mat-card-title>
            @if (battery?.series?.label && battery?.series?.label !== "") {
              <mat-card-subtitle [style]="'color: ' + battery?.series?.color">
                {{ battery?.series?.label + " series" }}
              </mat-card-subtitle>
            }
            <ion-button shape="round" (click)="presentActionSheet(battery)">
              <ion-icon slot="icon-only" name="toggle-outline"></ion-icon>
            </ion-button>
          </mat-card-header>
          <mat-card-content>
            <p>
              @if (
                battery?.anag?.enabled === 0 && battery?.anag?.disabledDate !== null
              ){
                Dismissed {{ getBatteryDisabledTimeAgo(battery?.anag?.disabledDate) }}
              } @else {
                @if (
                  (
                    battery.alertStatus !== "" &&
                    battery?.lastStatus?.status !== batteryStatusActionEnum.Store
                  )
                ) {
                  <ion-icon
                    size="medium"
                    [color]="battery.alertStatus"
                    aria-hidden="true"
                    name="warning"
                  >
                  </ion-icon>
                } @else {
                  <ion-icon
                    size="medium"
                    [color]="battery.alertStatus"
                    aria-hidden="true"
                    name="battery-full"
                  >
                  </ion-icon>
                }
                  {{ getBatteryStatus(battery?.lastStatus?.status) + "d" }}
                  {{ battery.lastStatusTimeAgo }}

              }
            </p>

            <div
              [@bodyExpansion]="state[battery.anag.id!]"
              class="expandable-content"
            >
              <p>
                {{ battery?.brand?.label }} {{ battery?.anag?.model }}
                {{ battery?.type?.label }}
                {{ battery?.anag?.cellsNumber + "S" }}
                {{ battery?.anag?.mA + "mA" }}

                <br />
                {{ "Total cycles: " + battery.totalCycles }} |
                {{ "Age: " + getAge(battery?.anag?.date!, true) }}
              </p>
            </div>
            <mat-divider> </mat-divider>
          </mat-card-content>

          <mat-card-actions>
            <ion-button
              shape="round"
              color="light"
              item-right
              (click)="toggle(battery.anag.id!)"
            >
              @if (state[battery.anag.id!] === "collapsed") {
                <ion-icon name="expand"></ion-icon>
              } @else {
                <ion-icon name="contract"></ion-icon>
              }
            </ion-button>

            <div>
              <ion-button
                color="light"
                shape="round"
                (click)="showCycles(battery.anag)"
              >
                <ion-icon slot="icon-only" name="time-outline"></ion-icon>
              </ion-button>

              <ion-button
                color="light"
                shape="round"
                (click)="showLogs(battery.anag)"
              >
                <ion-icon slot="icon-only" name="list-outline"></ion-icon>
              </ion-button>
            </div>
          </mat-card-actions>
        </mat-card>
        <br />
      }
      <!-- <ion-button (click)="requestPermission()"></ion-button>
      <ion-button (click)="sendNotification()">Fire </ion-button> -->
    </ion-card-content>
  </ion-card>
</ion-content>
