<ion-card>
  <ion-card-content>
    <app-model-card
      [audioBlob]="audioBlob!"
      (isTranscriptionInProgress)="setTranscriptionInProgress($event)"
      (transcriptionComplete)="onTranscriptionComplete($event)"
    >
    </app-model-card>

    <ion-item lines="none">
      <ion-label>
        <h3>{{ 'ai-model.AUDIO_MANAGER' | transloco }}</h3>
      </ion-label>
    </ion-item>

    @if (!isTranscriptionInProgress) {
      <div class="ion-padding-vertical">
        <app-audio-recorder
          (recordingStarted)="onRecordingStarted()"
          (recordingComplete)="onRecordingComplete($event)"
        ></app-audio-recorder>
      </div>
    }
    @if (audioUrl) {
      <div class="ion-padding-vertical">
        <app-audio-player [audioUrl]="audioUrl"></app-audio-player>
      </div>
      <div class="ion-text-end">
        <ion-button color="medium" [disabled]="isTranscriptionInProgress" (click)="reset()">
          {{ 'ai-model.BUTTON_CANCEL' | transloco }}
        </ion-button>
        <ion-button [disabled]="isTranscriptionInProgress" (click)="transcribe()">
          @if (isTranscriptionInProgress) {
            <ion-spinner name="crescent" slot="start"></ion-spinner>
          }
          {{ 'ai-model.BUTTON_Transcribe' | transloco }}
        </ion-button>
      </div>
    }
  </ion-card-content>
</ion-card>
