<!-- Model loading is now handled by the models bar -->
@if (transcriberService.isModelLoading) {
  <ion-card>
  <ion-card-content>
    <div class="d-flex align-items-center">
      <div class="spinner-border spinner-border-sm text-primary mx-2"></div>
      <span>{{ 'ai-model.LOADING_MODELS_INFO' | transloco }}</span>
    </div>
    @if (transcriberService.progressItems) {
      <div>
        @for (item of transcriberService.progressItems; track item.file; let last = $last) {
          <div
            class="d-flex flex-column py-2 ms-2"
            [ngClass]="{ 'border-bottom border-1 border-dark': !last }"
          >
            <div>
              <strong>{{ 'ai-model.STATUS_TITLE' | transloco }}</strong> {{ item.status }}
            </div>
            <div>
              <strong>{{ 'ai-model.NAME_TITLE' | transloco }}</strong> {{ item.name }}
            </div>
            <div>
              <strong>{{ 'ai-model.FILE_TITLE' | transloco }}</strong> {{ item.file }}
            </div>
            <div>
              <strong>{{ 'ai-model.PROGRESS_TITLE' | transloco }}</strong>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [attr.aria-valuenow]="item.progress | number"
                  [style.width.%]="item.progress | number"
                ></div>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </ion-card-content>
</ion-card>
}
