<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

      <ion-button slot="start" routerLink="../">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ page }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <canvas #droneCanvas width="400" height="400" (click)="onCanvasClick($event)"></canvas> -->
    <canvas #droneCanvas2D d="droneCanvas2D"></canvas>
    <canvas #droneCanvas3D id="droneCanvas3D"></canvas>
  </div>
</ion-content>
