<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>
        <h3>Image Section</h3>
      </ion-label>
    </ion-item>

    <app-image-upload-form
      [isDetectorLoaded]="isDetectorLoaded()"
      (imageSelected)="onImageSelected($event)"
    />

    <app-selected-image
      [selectedImage]="selectedImage"
      [isImageLoading]="isImageLoading()"
      (imageClear)="clearImage()"
    />

    <app-processed-image [processedImage]="processedImage()" />

    <app-detection-prompt-form
      [selectedImage]="selectedImage"
      [isDetectorLoaded]="isDetectorLoaded()"
      [isDetectionInProgress]="isDetectionInProgress()"
      (detect)="detectObjects()"
    />
  </ion-card-content>
</ion-card>
