
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

      <ion-button slot="start" routerLink="../">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="../create"
        ><ion-icon name="add-circle"></ion-icon
      ></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="12" size-xs="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Series</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  Label
                </ion-col>
                <ion-col>
                  Color
                </ion-col>
                <ion-col>
                  Enabled
                </ion-col>
                <ion-col>
                  Deleted
                </ion-col>
              </ion-row>
      
              @for (el of series; track el){
                <ion-row>
                  <ion-col>
                    {{ el.label }}
                  </ion-col>
                  <ion-col>
                    {{ el.color }}
                  </ion-col>
                  <ion-col>
                    {{ el.enabled }}
                  </ion-col>
                  <ion-col>
                    {{ el.deleted }}
                  </ion-col>
                </ion-row>
              }
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size-lg="3" size-md="6" size-xs="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Brands</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  Label
                </ion-col>
                <ion-col>
                  Enabled
                </ion-col>
                <ion-col>
                  Deleted
                </ion-col>
              </ion-row>
      
              @for (el of brands; track el){
                <ion-row>
                  <ion-col>
                    {{ el.label }}
                  </ion-col>
                  <ion-col>
                    {{ el.enabled }}
                  </ion-col>
                  <ion-col>
                    {{ el.deleted }}
                  </ion-col>
                </ion-row>
              }
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size-lg="3" size-md="6" size-xs="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Batteries Types</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  Label
                </ion-col>
                <ion-col>
                  Enabled
                </ion-col>
                <ion-col>
                  Deleted
                </ion-col>
              </ion-row>
      
              @for (el of types; track el){
                <ion-row>
                  <ion-col>
                    {{ el.label }}
                  </ion-col>
                  <ion-col>
                    {{ el.enabled }}
                  </ion-col>
                  <ion-col>
                    {{ el.deleted }}
                  </ion-col>
                </ion-row>
              }
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  
  

  

    
  
</ion-content>
