.title {
  font-weight: bold;
}
ion-title {
  text-transform: capitalize;
}

ion-select::part(text) {
  color: var(
    --text-color,
    --ion-text-color
  ); // Fallback to black if --text-color is not defined
}
.sc-ion-input-md-s > [slot="start"]:last-of-type {
  margin-right: 0;
  -webkit-margin-end: 0;
  margin-left: 0;
  -webkit-margin-start: 0;
}

ion-item ion-label,
ion-toggle {
  color: rgb(152, 154, 162);
}
