
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

      <ion-button slot="start" routerLink="../">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="../create"
        ><ion-icon name="add-circle"></ion-icon
      ></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="12" size-xs="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Series</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="title">
                  Label
                </ion-col>
                <ion-col class="title">
                  Color
                </ion-col>
                <ion-col class="title">
                  Enabled
                </ion-col>
                <ion-col class="title">
                  Deleted
                </ion-col>
              </ion-row>
      
              @for (el of series; track el){
                <ion-row>
                  <ion-col>
                    <ion-item class="ion-no-padding">
                      {{ el.label }}
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item class="ion-no-padding">
                      {{ el.color }}
                    </ion-item>
                  </ion-col>
                  <ion-col class="text-center">
                    <ion-item class="ion-no-padding ion-text-center"><ion-toggle [checked]="el.enabled"></ion-toggle></ion-item>
                  </ion-col>
                  <ion-col class="text-center">
                    <ion-item class="ion-no-padding ion-text-center"><ion-toggle [checked]="el.deleted"></ion-toggle></ion-item>
                  </ion-col>
                </ion-row>
              }
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size-lg="3" size-md="6" size-xs="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Brands</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="title">
                  Label
                </ion-col>
                <ion-col class="title text-center">
                  Enabled
                </ion-col>
                <ion-col class="title text-center">
                  Deleted
                </ion-col>
              </ion-row>
      
              @for (el of brands; track el){
                <form>
                  <ion-row>
                    <ion-col>
                      <ion-item class="ion-no-padding ion-text-center"><ion-input [value]="el.label"></ion-input></ion-item>
                    </ion-col>
                    <ion-col class="text-center">
                      <ion-item class="ion-no-padding ion-text-center"><ion-toggle [checked]="el.enabled"></ion-toggle></ion-item>
                    </ion-col>
                    <ion-col class="text-center">
                      <ion-item class="ion-no-padding ion-text-center"><ion-toggle [checked]="el.deleted"></ion-toggle></ion-item>
                    </ion-col>
                  </ion-row>
                </form>
              }
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size-lg="3" size-md="6" size-xs="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Batteries Types</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="title">
                  Label
                </ion-col>
                <ion-col class="title">
                  Enabled
                </ion-col>
                <ion-col class="title">
                  Deleted
                </ion-col>
              </ion-row>
      
              @for (el of types; track el){
                <ion-row>
                  <ion-col>
                    <ion-item class="ion-no-padding">
                      {{ el.label }}
                    </ion-item>
                  </ion-col>
                  <ion-col class="text-center">
                    <ion-item class="ion-no-padding ion-text-center"><ion-toggle [checked]="el.enabled"></ion-toggle></ion-item>
                  </ion-col>
                  <ion-col class="text-center">
                    <ion-item class="ion-no-padding ion-text-center"><ion-toggle [checked]="el.deleted"></ion-toggle></ion-item>
                  </ion-col>
                </ion-row>
              }
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size-lg="12" size-md="12" size-xs="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Batteries Anag</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="title">
                  Date
                </ion-col>
                <ion-col class="title">
                  Label
                </ion-col>
                <ion-col class="title">
                  Series
                </ion-col>
                
                <ion-col class="title">
                  Brand
                </ion-col>
                <ion-col class="title">
                  Model
                </ion-col>
                <ion-col class="title">
                  Type
                </ion-col>
                <ion-col class="title text-center">
                  Cells N°
                </ion-col>
                <ion-col class="title text-center">
                  mA
                </ion-col>
                <ion-col class="title">
                  Deleted
                </ion-col>
                <ion-col class="title">
                  Enabled
                </ion-col>
              </ion-row>
      
              @for (el of batteries; track el){
                <ion-row>
                  <ion-col>
                    <ion-item class="ion-no-padding">
                      {{ el.anag.date | date: "yyyy-MM-dd"  }}
                    </ion-item>
                  </ion-col>

                  <ion-col class="text-center">
                    <ion-item class="ion-no-padding">
                      Battery {{ el.anag.label }}
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item class="ion-no-padding">
                      <span [style]="'color: ' + el.series?.color!">
                        {{ el.series?.label }}
                      </span>
                    </ion-item>
                  </ion-col>
                  
                  <ion-col>
                    <ion-item class="ion-no-padding">
                      {{ el.brand?.label }}
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item class="ion-no-padding">
                      {{ el.anag.model }}
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item class="ion-no-padding">
                      {{ el.type?.label }}
                    </ion-item>
                  </ion-col>
                  <ion-col class="text-center">
                    <ion-item class="ion-no-padding">
                      {{ el.anag.cellsNumber }}
                    </ion-item>
                  </ion-col>
                  <ion-col class="text-center">
                    <ion-item class="ion-no-padding">
                      {{ el.anag.mA }}
                    </ion-item>
                  </ion-col>
                  <ion-col class="text-center">
                    <ion-item class="ion-no-padding ion-text-center"><ion-toggle [checked]="el.anag.enabled"></ion-toggle></ion-item>
                  </ion-col>
                  <ion-col class="text-center">
                    <ion-item class="ion-no-padding ion-text-center"><ion-toggle [checked]="el.anag.deleted"></ion-toggle></ion-item>
                  </ion-col>
                </ion-row>
              }
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>
  
  

  

    
  
</ion-content>
