<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

      <ion-button slot="start" routerLink="../">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Series</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      @for (el of series; track el) {

      <ion-card color="primary">
        <ion-card-content>
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="7">
                <ion-item>

                  <ion-input color="dark" name="seriesLabel" [value]="el.label" (ionChange)="updateRowSeries(el)">
                    <div slot="label">
                      <ion-text color="medium">Label
                      </ion-text>
                    </div>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="5">
                <ion-item>
                  <ion-label>Color</ion-label><ngx-colors name="ngx-colors-trigger" ngx-colors-trigger
                    [hideTextInput]="true" [hideColorPicker]="true" colorPickerControls="default" [(ngModel)]="el.color"
                    (close)="changeColor($event, el, true)">
                  </ngx-colors>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-item>



                  <ion-toggle name="seriesEnabled" [(ngModel)]="el.enabled"
                    (ionChange)="updateRowSeries(el)">Enabled</ion-toggle>

                </ion-item>
              </ion-col>
              <ion-col size="1">
                <ion-item></ion-item>
              </ion-col>
              <ion-col size="5">

                <ion-item>
                  <ion-label>Delete</ion-label>
                  <ion-button shape="round" size="small" (click)="deleteSeriesItem(el)" color="danger">
                    <ion-icon slot="icon-only" name="remove"></ion-icon>
                  </ion-button>
                </ion-item>

              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-card-content>
      </ion-card>

      }

      <ion-card [color]="(!newSeriesForm.label || newSeriesForm.label === '' ? 'light' : 'primary')">
        <ion-card-content>
          <form #form="ngForm">
          <ion-grid class="ion-no-padding">
                <ion-row color="medium">
                  <ion-col size="7">
                    <ion-item>

                      <ion-input [(ngModel)]="newSeriesForm.label" required name="label">
                        <div slot="label">
                          <ion-text color="medium">Label
                          </ion-text>
                        </div>
                      </ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="5">
                    <ion-item>
                      <ion-label>Color</ion-label><ngx-colors name="ngx-colors-trigger" ngx-colors-trigger
                        [hideTextInput]="true" [hideColorPicker]="true" colorPickerControls="default"
                        [(ngModel)]="newSeriesForm.color" (close)="changeColor($event, newSeriesForm, false)">
                      </ngx-colors>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-item>



                      <ion-toggle [(ngModel)]="newSeriesForm.enabled" name="enabled">Enabled</ion-toggle>

                    </ion-item>
                  </ion-col>
                  <ion-col size="1">
                    <ion-item></ion-item>
                  </ion-col>
                  <ion-col size="5">

                    <ion-item>
                      <ion-label>Add</ion-label>
                      <ion-button [disabled]="
                          !newSeriesForm.label || newSeriesForm.label === ''
                        " shape="round" size="small" (click)="addSeries()">
                        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                      </ion-button>
                    </ion-item>

                  </ion-col>
                </ion-row>

          </ion-grid>
        </form>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Brands</ion-card-title>
    </ion-card-header>
    <ion-card-content>

        @for (el of brands; track el) {

        <ion-card color="warning">
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="12">
                  <ion-item>

                    <ion-input color="dark" name="brandsLabel" [value]="el.label" (ionChange)="updateRowBrands(el)">
                      <div slot="label">
                        <ion-text color="medium">Label
                        </ion-text>
                      </div>
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-item>



                    <ion-toggle name="brandsEnabled" [(ngModel)]="el.enabled"
                      (ionChange)="updateRowBrands(el)">Enabled</ion-toggle>

                  </ion-item>
                </ion-col>
                <ion-col size="1">
                  <ion-item></ion-item>
                </ion-col>
                <ion-col size="5">

                  <ion-item>
                    <ion-label>Delete</ion-label>
                    <ion-button shape="round" size="small" (click)="deleteBrandsItem(el)" color="danger">
                      <ion-icon slot="icon-only" name="remove"></ion-icon>
                    </ion-button>
                  </ion-item>

                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-card-content>
        </ion-card>
        }

        <ion-card [color]="(!newBrandForm.label || newBrandForm.label === '' ? 'light' : 'warning')">
          <ion-card-content>
            <form #form="ngForm">
            <ion-grid class="ion-no-padding">



                  <ion-row color="medium">
                    <ion-col size="12">
                      <ion-item>

                        <ion-input [(ngModel)]="newBrandForm.label" required name="label">
                          <div slot="label">
                            <ion-text color="medium">Label
                            </ion-text>
                          </div>
                        </ion-input>
                      </ion-item>
                    </ion-col>

                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <ion-item>



                        <ion-toggle [(ngModel)]="newBrandForm.enabled" name="enabled">Enabled</ion-toggle>

                      </ion-item>
                    </ion-col>
                    <ion-col size="1">
                      <ion-item></ion-item>
                    </ion-col>
                    <ion-col size="5">

                      <ion-item>
                        <ion-label>Add</ion-label>
                        <ion-button [disabled]="
                            !newBrandForm.label || newBrandForm.label === ''
                          " shape="round" size="small" (click)="addBrand()">
                          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                        </ion-button>
                      </ion-item>

                    </ion-col>
                  </ion-row>


            </ion-grid>
          </form>
          </ion-card-content>
        </ion-card>

    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>Batteries Types</ion-card-title>
    </ion-card-header>
    <ion-card-content>

        @for (el of types; track el) {

        <ion-card color="tertiary">
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="12">
                  <ion-item>

                    <ion-input color="dark" name="typesLabel" [value]="el.label" (ionChange)="updateRowTypes(el)">
                      <div slot="label">
                        <ion-text color="medium">Label
                        </ion-text>
                      </div>
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-item>



                    <ion-toggle name="typesEnabled" [(ngModel)]="el.enabled"
                      (ionChange)="updateRowSeries(el)">Enabled</ion-toggle>

                  </ion-item>
                </ion-col>
                <ion-col size="1">
                  <ion-item></ion-item>
                </ion-col>
                <ion-col size="5">

                  <ion-item>
                    <ion-label>Delete</ion-label>
                    <ion-button shape="round" size="small" (click)="deleteTypesItem(el)" color="danger">
                      <ion-icon slot="icon-only" name="remove"></ion-icon>
                    </ion-button>
                  </ion-item>

                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-card-content>
        </ion-card>
        }

        <ion-card [color]="(!newTypeForm.label || newTypeForm.label === '' ? 'light' : 'tertiary')">
          <ion-card-content>
            <form #form="ngForm">
            <ion-grid class="ion-no-padding">



                  <ion-row color="medium">
                    <ion-col size="12">
                      <ion-item>

                        <ion-input [(ngModel)]="newTypeForm.label" required name="label">
                          <div slot="label">
                            <ion-text color="medium">Label
                            </ion-text>
                          </div>
                        </ion-input>
                      </ion-item>
                    </ion-col>

                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <ion-item>



                        <ion-toggle [(ngModel)]="newTypeForm.enabled" name="enabled">Enabled</ion-toggle>

                      </ion-item>
                    </ion-col>
                    <ion-col size="1">
                      <ion-item></ion-item>
                    </ion-col>
                    <ion-col size="5">

                      <ion-item>
                        <ion-label>Add</ion-label>
                        <ion-button [disabled]="
                            !newTypeForm.label || newTypeForm.label === ''
                          " shape="round" size="small" (click)="addType()">
                          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                        </ion-button>
                      </ion-item>

                    </ion-col>
                  </ion-row>


            </ion-grid>
          </form>
          </ion-card-content>
        </ion-card>

    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Batteries Anag</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      @for (battery of batteries; track battery) {

      <ion-card color="success">
        <ion-card-content>
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="12">
                <ion-item>

                  <ion-datetime-button color="secondary" [datetime]="'datetime' + battery.anag.id"></ion-datetime-button>

                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime #datetime (ionChange)="
                                  updateRowAnag(battery.anag, true);
                                  datetime.cancel(true)
                                " [(ngModel)]="battery.anag.dateString" presentation="date"
                        [formatOptions]="dateTimeFormatOptions" [id]="'datetime' + battery.anag.id">
                      </ion-datetime>
                    </ng-template>
                  </ion-modal>
                  </ion-item>
              </ion-col>
              </ion-row>
              <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-input placeholder="*" name="anagLabel" [value]="battery.anag.label"
                  (ionChange)="updateRowAnag(battery.anag, true)">
                  <ion-item class="ion-no-padding" slot="start">Battery</ion-item>
                </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>



                  <ion-select [style.--text-color]="battery.series?.color" [value]="battery.series?.id" (ionChange)="
                            updateElement(
                              battery,
                              $event.target.value,
                              'seriesId'
                            )
                          ">
                  @for (el of series; track el) {
                  <ion-select-option [value]="el.id">
                    {{ el.label }}
                  </ion-select-option>
                  }
                </ion-select>

                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-select [value]="battery.brand?.id" (ionChange)="
                          updateElement(battery, $event.target.value, 'brandId')
                        ">
                @for (el of brands; track el) {
                <ion-select-option [value]="el.id">{{
                  el.label
                  }}</ion-select-option>
                }
              </ion-select>

                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">

                <ion-item>
                  <ion-input name="anagModel" [value]="battery.anag.model"
                (ionChange)="updateRowAnag(battery.anag, true)"></ion-input>
                </ion-item>

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-item class="ion-no-padding">
                <ion-select [value]="battery.type?.id" (ionChange)="
                            updateElement(battery, $event.target.value, 'typeId')
                          ">
                  @for (el of types; track el) {
                  <ion-select-option [value]="el.id">{{
                    el.label
                    }}</ion-select-option>
                  }
                </ion-select>
              </ion-item>
            </ion-row>

            <ion-row>
              <ion-col class="ion-text-center">
                <ion-item class="ion-no-padding">
                  <ion-input class="ion-text-center" name="anagCellsNumber" [value]="battery.anag.cellsNumber"
                    (ionChange)="updateRowAnag(battery.anag, true)"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-text-center">
                <ion-item class="ion-no-padding">
                  <ion-input class="ion-text-center" name="anagmA" [value]="battery.anag.mA"
                    (ionChange)="updateRowAnag(battery.anag, true)"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-text-center">
                <ion-item class="ion-no-padding ion-text-center"><ion-toggle name="anagEnabled"
                    [(ngModel)]="battery.anag.enabled"
                    (ionChange)="updateRowAnag(battery.anag, true)">Enabled</ion-toggle></ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button shape="round" size="small" (click)="deleteAnagItem(battery.anag)" color="danger">
                  <ion-icon slot="icon-only" name="remove"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-card-content>
      </ion-card>

      }

      <ion-card [color]="(newBatteryFormAddDisabled ? 'light' : 'success')">
        <ion-card-content>
          <form #form="ngForm">
          <ion-grid class="ion-no-padding">


            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-datetime-button color="secondary"
                    [datetime]="'datetime' + newBatteryForm.anag.id"></ion-datetime-button>

                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime
                        #datetime
                        (ionChange)="
                          setRowAnag(
                            newBatteryForm.anag,
                            $event.target.value!,
                            'dateString'
                          );
                          datetime.cancel(true)
                        "
                        [name]="'datetime' + newBatteryForm.anag.id"
                        [(ngModel)]="newBatteryForm.anag.dateString" presentation="date"
                        [formatOptions]="dateTimeFormatOptions" [id]="'datetime' + newBatteryForm.anag.id">
                      </ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-item>
              </ion-col>
            </ion-row>






            <ion-row>
              <ion-col class="ion-text-center">
                <ion-item class="ion-no-padding">
                  <ion-input name="anagLabel" [value]="newBatteryForm.anag.label" (ionChange)="
                            setRowAnag(
                              newBatteryForm.anag,
                              $event.target.value!,
                              'label'
                            )
                          ">
                    <ion-item class="ion-no-padding" slot="start">Battery</ion-item>
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="ion-no-padding">
                  <ion-item class="ion-no-padding">
                    <ion-select [style.--text-color]="getColor" [value]="newBatteryForm.series?.id" (ionChange)="
                              setNewBatteryElement(
                                newBatteryForm,
                                $event.target.value,
                                'seriesId'
                              )
                            ">
                      @for (el of series; track el) {
                      <ion-select-option [value]="el.id">
                        {{ el.label }}
                      </ion-select-option>
                      }
                    </ion-select>
                  </ion-item>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="ion-no-padding">
                  <ion-select [value]="newBatteryForm.brand?.id" (ionChange)="
                            setNewBatteryElement(
                              newBatteryForm,
                              $event.target.value,
                              'brandId'
                            )
                          ">
                    @for (el of brands; track el) {
                    <ion-select-option [value]="el.id">{{
                      el.label
                      }}</ion-select-option>
                    }
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="ion-no-padding">
                  <ion-input name="anagModel" [value]="newBatteryForm.anag.model" (ionChange)="
                            setRowAnag(
                              newBatteryForm.anag,
                              $event.target.value!,
                              'model'
                            )
                          "></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>





            <ion-row>
              <ion-col>
                <ion-item class="ion-no-padding">
                  <ion-select [value]="newBatteryForm.type?.id" (ionChange)="
                            setNewBatteryElement(
                              newBatteryForm,
                              $event.target.value,
                              'typeId'
                            )
                          ">
                    @for (el of types; track el) {
                    <ion-select-option [value]="el.id">{{
                      el.label
                      }}</ion-select-option>
                    }
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-item class="ion-no-padding">
                  <ion-input class="ion-text-center" name="anagCellsNumber" [value]="newBatteryForm.anag.cellsNumber"
                    (ionChange)="
                            setRowAnag(
                              newBatteryForm.anag,
                              +$event.target.value!,
                              'cellsNumber'
                            )
                          "></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-item class="ion-no-padding">
                  <ion-input class="ion-text-center" name="anagmA" [value]="newBatteryForm.anag.mA" (ionChange)="
                            setRowAnag(
                              newBatteryForm.anag,
                              +$event.target.value!,
                              'mA'
                            )
                          "></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-item class="ion-no-padding ion-text-center"><ion-toggle name="anagEnabled"
                    [(ngModel)]="newBatteryForm.anag.enabled" (ionChange)="
                            setRowAnag(
                              newBatteryForm.anag,
                              +$event.target.value!,
                              'enabled'
                            )
                          ">Enabled</ion-toggle></ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button [disabled]="newBatteryFormAddDisabled" shape="round" size="small" (click)="addBattery()">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>

          </ion-grid>
        </form>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <!--
        <ion-row>
          <ion-col class="title"> Date </ion-col>
          <ion-col class="title"> Label </ion-col>
          <ion-col class="title"> Series </ion-col>

          <ion-col class="title"> Brand </ion-col>
          <ion-col class="title"> Model </ion-col>
          <ion-col class="title"> Type </ion-col>
          <ion-col class="title ion-text-center"> Cells N° </ion-col>
          <ion-col class="title ion-text-center"> mA </ion-col>
          <ion-col class="title"> Enabled </ion-col>
          <ion-col class="title ion-text-center"> Action </ion-col>
        </ion-row>
-->
</ion-content>
