<ion-content [class.ion-padding]="deviceDetectorService.isMobile()">
  <div
    [ngClass]="{
      'd-flex justify-content-center align-items-start min-vh-100 overflow-auto':
        !deviceDetectorService.isMobile(),
    }"
  >
    @if (IS_WEBGPU_AVAILABLE) {
      <div [ngClass]="{ 'mt-5 w-50': !deviceDetectorService.isMobile() }">
        <!-- Models Bar -->
        <ion-card class="ion-margin-bottom">
          <ion-card-header>
            <ion-card-title>AI Models</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-ai-control-panels></app-ai-control-panels>
          </ion-card-content>
        </ion-card>

        [VOICE & TEXT]<br />
        - from audio<br />
        - text input<br />
        --------------<br />
        <div class="">
          <app-stt-transcriber-audio-prompt-card
            (transcribeClicked)="transcribe()"
            (transcriptionProgressChanged)="setTranscriptionInProgress($event)"
            (recordingComplete)="onRecordingComplete($event)"
            (recordingStart)="onRecordingStarted()"
          ></app-stt-transcriber-audio-prompt-card>

          <app-stt-transcriber-prompt-card></app-stt-transcriber-prompt-card>

          <app-text-classifier-prompt-text-input
            [(inputText)]="inputText"
            [(command)]="command"
          ></app-text-classifier-prompt-text-input>
        </div>

        [IMAGE]<br />
        - from image upload<br />
        - find digits in image<br />
        - find colors stripes in image<br />
        --------------<br />
        <div class="mt-4">
          <app-image-prompt></app-image-prompt>

          <app-image-object-detector-prompt></app-image-object-detector-prompt>
          <app-digit-classifier-prompt></app-digit-classifier-prompt>
          <app-color-classifier-prompt></app-color-classifier-prompt>
        </div>
      </div>
    } @else {
      <ion-card>
        <ion-card-content>
          {{ 'ai-model.ERR_WEBGPU_IS_NOT_SUPPORTED' | transloco }}
        </ion-card-content>
      </ion-card>
    }
  </div>
</ion-content>
