:host {
  display: block;
  height: 100%;
}

.container {
  padding: 16px;
}

ion-card-content {
  display: flex; /* Use flexbox to manage child sizing */
  justify-content: center;
  align-items: center;
  min-height: 200px; /* Ensure a minimum height for the content area */
}

.display-image {
  width: 100%;
  height: 100%; /* Force canvas to take full height of its container */
  max-height: 100%; /* Ensure it doesn't overflow */
  display: block;
  margin: 0 auto; /* Center the canvas horizontally */
  border: 1px solid #ddd;
  border-radius: 8px;
  object-fit: contain; /* Scale the content to fit within the element's box */
}

ion-card {
  margin-bottom: 16px;
}

ion-list {
  margin-bottom: 16px;
}

ion-button {
  margin-top: 16px;
}

.camera-container {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  background: black;
}

#webcam,
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#overlay {
  z-index: 2;
  pointer-events: none;
}

.buttons {
  margin: 16px;
}
