<ion-header>
  <ion-toolbar>
    <ion-title>Digit Recognition Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-grid>
        <ion-col size="12">
          <ion-item>
            <h2>Digit Recognition Test</h2>
            <ion-input label="Image URL" [(ngModel)]="imageUrl" labelPlacement="floating"></ion-input>
          </ion-item>
          <ion-button expand="block" (click)="loadImage()">Load Image</ion-button>
        </ion-col>
      </ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="6">
          <ion-card>
            <ion-card-content>
              <video id="webcam" autoplay playsinline></video>
              <canvas id="overlay"></canvas>
            </ion-card-content>
            <ion-card-content>
              <div class="buttons">
                <ion-button expand="block" (click)="startCamera()" [disabled]="isRunning">
                  Start Camera
                </ion-button>
                <ion-button expand="block" color="danger" (click)="stopCamera()" [disabled]="!isRunning">
                  Stop Camera
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="base64Image">
            <ion-card-header>
              <ion-card-title>Original Image</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img [src]="base64Image" alt="Test Image" class="display-image" />
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-lg="6">

          <ion-card>
            <ion-card-header>
              <ion-card-title>Settings</ion-card-title>
            </ion-card-header>
            <ion-card-content>

              <ion-list>
                <ion-item>
                  <ion-input label="Threshold" type="number" [(ngModel)]="threshold" labelPlacement="floating"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Erosion" type="number" [(ngModel)]="erosion" labelPlacement="floating"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Dilation" type="number" [(ngModel)]="dilation" labelPlacement="floating"></ion-input>
                </ion-item>
                <ion-item>
                  ({{forceInvert}})<ion-checkbox [(ngModel)]="forceInvert">Force Invert</ion-checkbox>
                </ion-item>
              </ion-list>

            </ion-card-content>
            <ion-card-content>
              <ion-button expand="block" (click)="recognize()">Recognize Digit</ion-button>

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Processed Image</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas #canvas class="display-image"></canvas>
              <!-- <img [src]="processedImageBase64" alt="Processed Image" class="display-image" /> -->
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>



    <div *ngIf="predictions && predictions.length > 0">
      <h2>Predictions:</h2>
      <ion-list>
        <ion-item *ngFor="let pred of predictions">
          <ion-label>
            <img style="border: 1px solid #f00;" [src]="pred.image" alt="Digit Image" class="digit-image" />

            {{ pred.id }}: Digit: {{ pred.digit }}
            <p>Confidence: {{ pred.confidence | number:'1.2-2' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="predictions && predictions.length === 0">
      <p>No digits recognized.</p>
    </div>
  </div>
</ion-content>
