name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
      - angular-21-rebuild

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: Setup Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '22.12.0'

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build -- --configuration production

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
